<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IoT Project</title>

    <link rel="stylesheet" href="/stylesheets/styles.css"> 
    <style>
      body {
        background: url(images/greenhouse.jpg);
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
      }

    </style>
    

</head>
<body>
    <!-------------------------------    Navigation Menu    ------------------------------>
    <ul id = "navigationmenu">
        <li id = "l01"><a href="welcome.html">HOME</a></li>
        <li id = "l01"><a href="sensor.html">SENSOR DATA</a></li>
        <li id = "l01"><a href="control.html">CONTROL</a></li>
    </ul> 
    <!----------------------------------    Content    ------------------------------------>   
    <h1 id = "iot"> WELCOME </h1>
    
</body>
</html>